/* Colors and Fonts */
body {
  background: #f5f5f5; /* Arrière-plan gris clair */
  color: #333; /* Texte principal en noir */
  font-family: 'Montserrat', sans-serif; /* Utilisation de la police Montserrat */
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #ff5733; /* Rouge vif pour les titres principaux */
  font-size: 36px;
  font-weight: 700;
}

h2 {
  color: #33b5e5; /* Bleu vif pour les sous-titres */
  font-size: 24px;
  font-weight: 600;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #ffac33; /* Orange vif pour les liens */
  font-weight: 500;
}

a:hover {
  color: #ff5733; /* Rouge vif au survol */
}

/* Container Styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #fff; /* Fond blanc pour le contenu */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: left;
}

/* Card Styles */
.card-white {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 20px 0;
  text-align: left;
}

/* Buttons */
.btn-blue {
  background-color: #33b5e5; /* Bleu vif pour les boutons */
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  font-weight: 600;
}

.btn-blue:hover {
  background-color: #33a0e5; /* Bleu légèrement plus foncé au survol */
}


.list-inline i:hover {
  color: #ffffff; /* Social icon color on hover */
}
